.env
.venv/
build/
dist/
tui.spec
__pycache__/

.pyre/

# Pyinstaller Dist
src/movie_streaming_silletr/main_ui.py
src/movie_streaming_silletr/main_ui.spec
src/movie_streaming_silletr/SiMovieStreaming.spec
